*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
.question-mark, .exclamation-mark{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  background-color: #4d82aa;
  flex-shrink: 0;
  margin: 0 3px;
}
.home{
  width: 60%;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
  margin: 0 0 0 auto;
  background-color: white;

}
.home-wrapper{
  width: 70%;
  margin: 0 auto;
  border: 1px solid inherit;
}
.home__title{
  font-size: 40px;
  font-weight: 600;
  color: #4d82aa;
}
.home__sub-title{
  font-size: 20px;
  color: #5b5b5b;
}
.home__desc{
  font-size: 19px;
  margin: 20px 0;
  color: #7c7c7c;
}
.home__list__item{
  font-size: 18px;
  color: #7c7c7c;
}
.home__links{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.home__links__link{
  font-size: 60px;
  color: white;
  border-radius: 10px;
  background-color: #4d82aa;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__explanation{
  display: flex;
  background-color: #98cc98;
  padding: 10px 0;
  border-radius: 10px;
}
.home__explanation__text{
  margin: 0 0 0 10px;
  color: white;
  font-size: 20px;
}
.home-section{
  background: url("http://localhost:3000/home_background.png") no-repeat;
  background-size: 100%;
  padding: 40px 0;
}
.footer{
  padding: 10px 5%;
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
}
.footer__info{
  color: #e7e7e7;
  display: flex;
}
.footer__info__list{
  margin: 0 40px;
}
.header__title{
  background-color: #4d82aa;
  padding: 5px 0;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
