*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
button{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.form__question-mark, .form__exclamation-mark{
  position: absolute;
  user-select: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: white;
  background-color: #4d82aa;
  flex-shrink: 0;
  margin: 0 3px;
  transform: translate(-50%, -20%);
  font-weight: 700;
  cursor: pointer;
}
.home{
  width: 60%;
  padding: 10px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px gray;
  margin: 0 0 0 auto;
  background-color: white;

}
.home-wrapper{
  width: 70%;
  margin: 0 auto;
  border: 1px solid inherit;
}
.home__title{
  font-size: 40px;
  font-weight: 600;
  color: #4d82aa;
}
.home__sub-title{
  font-size: 20px;
  color: #5b5b5b;
}
.home__desc{
  font-size: 19px;
  margin: 20px 0;
  color: #7c7c7c;
}
.home__list__item{
  font-size: 18px;
  color: #7c7c7c;
}
.home__links{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.home__links__link{
  font-size: 60px;
  color: white;
  border-radius: 10px;
  background-color: #4d82aa;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explanation{
  display: flex;
  background-color: #98cc98;
  padding: 10px 0;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
}
.explanation__text{
  margin: 0 0 0 10px;
  color: white;
  font-size: 20px;
}
.explanation__mark{
  color: white;
  width: 60px;
  height: 60px;
  margin: 0 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  background-color: #4d82aa;
  border-radius: 50%;
  flex-shrink: 0;
}
.home-section{
  background: url("http://localhost:3000/home_background.png") no-repeat;
  background-size: 100%;
  padding: 40px 0;
}
.footer{
  padding: 10px 5%;
  background-color: #2c2c2c;
  display: flex;
  justify-content: space-between;
}
.footer__info{
  color: #e7e7e7;
  display: flex;
}
.footer__info__list{
  margin: 0 40px;
}
.header__title{
  background-color: #4d82aa;
  padding: 5px 0;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
.header-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #98cc98;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  color: white;
  text-align: center;
  padding: 10px;
}
.header-link.active{
  background-color: #4d82aa;
}
.header__links{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.header__arrow__head{
  flex-shrink: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 30px; /* Размеры стрелки (измените значения по вашему усмотрению) */
  border-color: transparent transparent transparent #a19b9a; /* Цвет стрелки */
}
.header__arrow__body{
  width: 100%;
  height: 10px;
  background-color: #a19b9a;
}
.header__arrow{
  z-index: 1;
  width: 85%;
  display: flex;
  align-items: center;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 48%;
}
.header-link__title{
  font-size: 45px;
  font-weight: 700;
}
.header-section{
  background-color: #f7f4f4;
  z-index: -1;
}
.header{
  padding: 30px 0;
}
.header__links__home, .header__links__result{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__links__home__img, .home__links__result__img{
  width: 100%;
  height: 100%;
}
.header__links > a{
  z-index: 1;
}
.form-section{
  background-image: url("http://localhost:3000/form-background.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
.form{
  width: 60%;
  margin: 60px auto 0 auto;
  background-color: #f7f4f4;
  padding: 30px 7%;
}
.form-buttons {
  position: relative;
  padding: 5px 30px;
  background-color: #4d82aa;
  color: white;
  border: none;
  cursor: pointer;
  height: 50px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-buttons div {
  font-size: 20px;
  font-weight: 700;
}

.form-buttons__right-arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  width: 50px;
  height: 50px;
  background-color: #4d82aa;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  transform: translateY(-50%);
}
.form-buttons__left-arrow {
  position: absolute;
  top: 50%;
  right: 100%;
  width: 50px;
  height: 50px;
  background-color: #4d82aa;
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
  transform: translateY(-50%);
}
.form-buttons-wrapper{
  display: flex;
  justify-content: center;
}
.forms-input{
  margin: 20px 0;
}
.forms-input__title{
  color: #868686;
  font-size: 20px;
  margin-bottom: 10px;
}
.forms-input__textarea{
  resize: none;
  width: 100%;
  height: 300px;
  padding: 3px 7px;
  border-radius: 5px;
  border: 1px solid #868686;
  font-size: 20px;
}
.form__exclamation-mark__popup-wrapper, .form__question-mark__popup-wrapper{
  position: relative;
  display: none;
}
.form__exclamation-mark__popup-wrapper.active, .form__question-mark__popup-wrapper.active{
  display: block !important;
}
.form__exclamation-mark__popup, .form__question-mark__popup{
  width: 170px;
  left: -180px;
  position: absolute;
  background-color: #4d82aa;
  font-size: 14px;
  font-weight: 400;
  padding: 13px 17px;
  border-radius: 5px;
  top: 0;
}
.form__question-mark__popup{
  left: 70px;
  top: 0;
}
.form__question-mark__popup p, .form__exclamation-mark__popup p{
  min-height: 14px;
}
.form__exclamation-mark__popup__title, .form__question-mark__popup__title{
  font-size: 17px;
  font-weight: 700;
  margin: 0 0 15px 0;
}
.check-box-wrapper{
  margin: 30px 0;
}
.check-box{
  display: flex;
  justify-content: space-evenly;
}
.check-box__radio-wrapper{
  display: flex;
  align-items: center;
}
.check-box__radio{
  display: none;
}
.check-box__radio-custom{
  width: 25px;
  height: 25px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #868686;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px 0 0;
  cursor: pointer;
}
.check-box__radio-custom span{
  background-color: white;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.check-box__radio:checked + .check-box__radio-custom{
  background-color: #4d82aa;
}
.check-box__radio-text{
   font-size: 20px;
   font-weight: 500;
   color: #868686;
}
.copy{
  margin: 20px 0 20px 10px;
  position: relative;
}
.copy__button{
  position: absolute;
  left: -50px;
  width: 30px;
  height: 30px;
  top: 0;
}
.copy__button:active{
  top: 1px;
}
.copy__button__img{
  width: 100%;
  height: 100%;
}
.copy__text{
  color: #868686;
  font-size: 20px;
}
.copy__text p{
  min-height: 20px;
}
.form3__blue-text{
  font-weight: 700;
  font-size: 20px;
  color: #4d82aa;
  margin: 20px 0 30px 0;
}
.form__popular-place__title{
  color: #868686;
  font-size: 20px;
  margin: 10px 0;
}
.form__popular-place__link{
  color: #4d82aa;
  font-size: 20px;
  font-weight: 600;
}
.form__popular-place__link:nth-child(2){
  margin: 0 15px;
}
.form__line{
  width: 100%;
  margin: 25px 0;
  background-color: #d3d3d3;
  height: 1px;
}
.react-select__menu{
  top: -8px !important;
}
.react-select__control{
  border: 1px solid #868686 !important;
  box-shadow: none !important;
  border-radius: 5px !important;
}
.react-select__indicator-separator{
  display: none;
}
.react-select__option--is-focused{
  background-color: #e3e3e3 !important;
  cursor: pointer !important;
}
.react-select__option--is-selected {
  background-color: #4d82aa !important;
}
.react-select__menu-list{
  padding: 0 !important;
  border-radius: 5px !important;
  border: 1px solid #868686 !important;
  font-size: 18px !important;
  color: #575757 !important;
}
.react-select__value-container{
  font-size: 18px !important;
  color: #575757 !important;
}
.react-select__single-value{
  color: #575757 !important;
}
.react-select__title{
  color: #868686;
  font-size: 20px;
  margin-bottom: 7px;
}
.react-select-wrapper{
  margin: 20px 0;
}
.form2__date-pick__arrow{
  height: 26px;
  margin: 0 5px;
  width: 40px;
}
.form2__date-picker{
  display: flex;
  margin: 20px 0;
}
.form2__date-picker__title{
  color: #868686;
  font-size: 20px;
  margin-bottom: 10px;
}
.react-date-picker__wrapper{
  border-radius: 4px;
}